{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<script>
    function delete_artist(artist_id){
    $.ajax({
    url: '/artists/'+artist_id+'/delete',
    type: 'DELETE',
    success: function(result) {
        window.location.href = 'http://127.0.0.1:5000/';
    }
});
        }










</script>

<ul class="items">
    {% for artist in artists %}
    <li>
        <a href="/artists/{{ artist.id }}">

            <div class="row">

                <div class="col-sm-5">
                    <div class="col-sm-1">
                        <i class="fas fa-users"></i>

                    </div>
                    <div class="col-sm-4">

                        <h5> {{ artist.name }}</h5>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="col-sm-3">
                        <h3>
                            <a href="/artists/{{ artist.id }}/edit">
                                <button class="btn btn-primary btn-lg">Edit an artist</button>
                            </a>

                        </h3>
                    </div>
                    <h3>
                        <div class="col-sm-3">
                            <input type="submit" value="Delete Artist" class="btn btn-primary btn-lg "
                                   onclick="delete_artist({{ artist.id }})">
                        </div>
                    </h3>
                </div>
            </div>

        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
<script type="text/javascript"></script>

