{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
    {% for artist in artists %}
    <li>
        <a href="/artists/{{ artist.id }}">

            <i class="fas fa-users"></i>
            <div class="item">
                <h5>{{ artist.name }}</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>
                            <a href="/artists">
                                <button class="btn btn-primary btn-lg">Edit an artist</button>
                            </a>
                            <a href="/artists/create">
                                <button class="btn btn-default btn-lg">Delete an artist</button>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}